{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "plugins": ["@zackad/prettier-plugin-twig", "prettier-plugin-tailwindcss"],
  "twigFollowOfficialCodingStandards": true,
  "twigOutputEndblockName": true,
  "twigSingleQuote": true,
  "twigAlwaysBreakObjects": true,
  "overrides": [
    {
      "files": "*.twig",
      "options": {
        "parser": "twig",
        "singleAttributePerLine": false
      }
    }
  ]
}
