@import "tailwindcss";

@theme {
  --font-inter: "Inter Variable", sans-serif;
  --font-garamond: "EB Garamond", serif;
}

@layer base {
  body {
    @apply font-inter;
  }
  [x-cloak] {
    @apply hidden;
  }
}

@utility container {
  padding-inline: theme("spacing.4");
  margin-inline: auto;
}
