@import "tailwindcss";

@theme {
  --font-inter: "Inter Variable", sans-serif;
  --font-garamond: "EB Garamond", serif;
}

@layer base {
  body {
    @apply font-inter;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold font-garamond;
  }
}

@utility container {
  padding-inline: theme("spacing.6");
  margin-inline: auto;
}

[x-cloak] {
  display: none !important;
}
