{% extends "views/layouts/base.twig" %}
{% block title %}
	Simple Vituum + Tailwindcss
{% endblock %}

{% block header %}
	{% include "views/partials/header.twig" %}
{% endblock %}

{% block content %}
	<main id="main" class="site-main">
		{% include "views/components/hero.twig" %}
	</main>
{% endblock %}

{% block footer %}
	{% include "views/partials/footer.twig" %}
{% endblock %}
