<section id="hero" class="site-hero py-20">
  <div class="container">
    <div class="flex gap-x-8 md:justify-between">
      <div
        class="bg-neutral-200 p-4 text-center text-3xl text-neutral-800 md:flex-1"
        data-aos="fade-right"
        data-aos-delay="500"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <h2>Hero Left</h2>
      </div>
      <div
        class="bg-neutral-200 p-4 text-center text-3xl text-neutral-800 md:flex-1"
        data-aos="fade-left"
        data-aos-delay="1000"
        data-aos-duration="1500"
        data-aos-easing="ease-in-out"
      >
        <h3>Hero Right</h3>
      </div>
    </div>
  </div>
  <div class="py-10">
    <div class="container">
      <div class="flex justify-between gap-8">
        <div class="flex-1" x-data="dropdown">
          <div class="mb-4">
            <button
              class="inline-block cursor-pointer rounded-md bg-blue-500 px-4 py-3 text-white hover:bg-blue-400"
              @click="toggle"
              x-bind:class="{ 'active': open }"
            >
              Toggle AlpineJS
            </button>
          </div>
          <div class="bg-amber-200 p-4" x-show="open" x-cloak x-transition>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, officiis aut! Labore esse delectus animi,
            distinctio aut adipisci temporibus quos quidem molestias porro necessitatibus molestiae, cumque ea ducimus
            reiciendis a!
          </div>
        </div>
        <div class="flex-1">
          <div class="mb-4">
            <button
              id="btn-toggle-jquery"
              class="inline-block cursor-pointer rounded-md bg-teal-500 px-4 py-3 hover:bg-teal-400"
            >
              Toggle jQuery
            </button>
          </div>
          <div class="card-body hidden bg-amber-200 p-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A cumque neque asperiores dignissimos tempora
              dolores delectus quam rem molestias, maxime recusandae, deserunt fugiat dolorem voluptatibus doloremque
              odio dolor minima praesentium!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
